@inherits LayoutComponentBase
@layout ProConsulta.Components.Layout.LoginLayout
@inject NavigationManager NavigationManager

@if (HttpContext is null)
{
    <p>Carregando...</p>
}
else
{
    @Body
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
            NavigationManager.Refresh(forceReload: true);
    }
}
